/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); */

/* Variables */

:root {
  /*Colors*/
  --menta-color: #47cfac;
  --dark-color: #434a54;
  --white-color: white;
  --whiteg-color: #e6e9ed;
  --gray-color: #ccd1d9;
  --grayB_oscuro-color: #656d78;
  --black-color: #23282d;
  --violet-color: #ac92ec;
  --green-color: #a0d468;
  /* Fonts */
  --Roboto-font-family: "Roboto", sans-serif;
  --RobotoMono-font-family: "Roboto Mono", monospace;
  --RobotoSlab--font-family: "Roboto Slab", serif;
}

body {
  margin: 0;
  padding: 0;
  position: fixed; /*no permite hacer scroll a la pantalla*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* --------------------Header------------------------------ */
a {
  text-decoration: none;
  display: inline;
  color: var(--black-color);
}

header {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header_icons_container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: var(--menta-color);
}
header .header_icons_container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: var(--white-color);
}
/* --------------------Main------------------------------ */
#main_index {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: url(/images/Cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-items: center;
  height: 100vh;
}
#main_index .nav_logo_container {
  margin-left: 50px;
}
#main_index .nav_logo_container img {
  width: 220px;
  margin-top: 50px;
}

#main_index .profile_link {
  grid-column: 3;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-top: 70px;
}
#main_index .profile_link a {
  font-family: var(--RobotoMono-font-family);
  font-size: 20px;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
.home_main {
  display: grid;
  grid-column: 2;
  height: 100%;
}
.home_main div {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
}
.home_main_text {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
  margin-top: 0;
}
.home_main_button {
  width: 150px;
  height: 60px;
  background-color: var(--menta-color);
  display: grid;
  align-items: center;
  margin-bottom: 100px;
  border: none;
}
.home_main_button a {
  font-weight: 700;
  font-size: 18px;
}

/* --------------------------PaginaBlogsNAV---------------------------- */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
nav .nav_logo_container {
  margin-left: 50px;
}
nav .nav_logo_container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile_link a {
  font-family: var(--RobotoMono-font-family);
  font-size: 20px;
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}
